<div class="text-center">
    <h1 class="display-4">Carros Cadastrados</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Carro</th>
            <th scope="col">Placa</th>
            <th scope="col">Horario de entrada</th>
            <th scope="col">Horario de saida</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
        </tr>
        <tr>
            <th scope="row">2</th>
        </tr>
        <tr>
            <th scope="row">3</th>
        </tr>
    </tbody>
</table>